*.csv
*.png
*.pdf
*.html
*.json
!script/evaluate/eval_configs/r2r_configs.json
!script/evaluate/eval_configs/dataset_configs.json
!script/evaluate/eval_configs/model_configs.json
*.jsonl
*.txt
*.log
*.pth
*.pyc
*.pt
*.arrow
*.arrow-lock
*.mdc
*.whl
*.sh
*.svg
*.code-workspace
*.parquet

*.egg-info/
output/*
wandb/*
runs/*
evaluate/*
resource/*